@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');


body {
  background-color: #caf0f8;
  width: 500px;
  height: 500px;
  padding: 20px;
  color: #000000;
  font-family: 'Quicksand', sans-serif; 
}

.menu-container {
  margin-bottom: 30px;
  text-align: center;
}
#menu-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;    
  margin-top: 10px;
  text-align: center;
}
/* 
  .navbar {
    background-color: #f0bd7b;
    border-radius: 20px;
    padding: 10px;
    outline: auto;
    outline-color: #000000;
    margin-left: 0%;
    margin-right: 0%;
  }
   */
  
  /* Style the navbar ul */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Style the navbar li */
.navbar li {
  flex: 1;
  width: 120px;
  margin-bottom: 40px;
}

/* Style the navbar links */
.navbar a {
  text-align: center;
  justify-content: center;
  justify-items: center;
 align-items: center;
  background-color: #f0bd7b;
  display: flex;
  color: #FFF;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 20px;
  height: 60px;
  font-family: 'Quicksand', sans-serif;
}

#menu{
  padding: 10px;
  width: 100%;
  height: 900%;

}

#menu:hover{
  background-color: #f0bd7b;
  color: #000000;
  border-radius: 20px;
  outline: auto;
  outline-color: #000000;
}

.normalForm{
  display: none;
  /* border-radius: 5%;
  background:rgb(255, 255, 255); */
  width: 100%;
  height: 100%;
  /* outline:auto;
  outline-color: #000000; */
}